{% extends "layout.html" %}

{% block title %}
Delete reference
{% endblock %}

{% block body %}

<h2>Are you sure you want to delete the reference?</h2>

<form action="/delete_reference/{{reference.reference_key}}" method="post">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <strong>Key:</strong> {{ reference.reference_key }}<br>
  <strong>Type:</strong> {{ reference.reference_type }}<br>
  <strong>Data:</strong>
  <ul>
    {% for datapoint, value in reference.reference_content.items() %}
      <li><b>{{ datapoint }}</b>: {{ value }}</li>
    {% endfor %}
  </ul>
  <button type="submit">
    Delete
  </button>
  <button type="reset" onclick="location.href='/'">
    Cancel
  </button>
</form>

{% endblock %}