{% extends "layout.html" %}

{% block title %}
Edit reference
{% endblock %}

{% block body %}

<h2>Edit reference details</h2>

<form action="/save_edited_reference/{{reference.key}}" method="post">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    <label for="reference_type">Entry Type:</label>
    <select name="reference_type" id="reference_type" required>
        {% for ref_type in reference_types %}
            {% if ref_type.display_str() != reference.type.display_str() %}
                <option value="{{ ref_type.value }}">{{ ref_type.display_str() }}</option>
            {% endif %}
            {% if ref_type.display_str() == reference.type.display_str() %}
                <option value="{{ ref_type.value }}" selected>{{ ref_type.display_str() }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <br><br>
    <div class="field-row">
        <label for="reference_key">Reference Key:</label>
        <input id="reference_key" type="text" name="reference_key" value="{{ reference.key }}" required>
    </div>
    <br>
    <div class="field-row" id="tag-row">
        <div style="display:flex; gap:8px; align-items:center;">
            <label for="tag-input">Tags:</label>
            <input id="tag-input" type="text" placeholder="Enter tag" />
            <button id="add-tag-btn" type="button" class="button-green">Add tag</button>
        </div>
        <div id="tags-list" style="margin-top: 8px;"></div>
        {% block tags %}
        <div class="tags-container" style="margin-top: 25px;">
            <h3>My current tags with their reference counts</h3>
            {% if tags and tags|length > 0 %}
            <ul class="tag-list">
                {% for tag_tuple in tags %}
                    <li class="tag-item">{{ tag_tuple[0].name }} <span class="tag-count">({{ tag_tuple[1] }})</span></li>
                {% endfor %}
            </ul>
        {% else %}
            <div>No tags yet.</div>
        {% endif %}
        </div>
        {% endblock %}
    </div>
    <div id="hidden-tag-inputs"></div>

    <div id="fields-container">
        <div id="required-group">
            <h3>Required fields:</h3>
            <div id="required-fields"></div>
        </div>
        <div id="optional-group">
            <h3>Optional fields:</h3>
            <div id="optional-fields"></div>
        </div>

        {% for field in reference_fields %}
        <div class="field-row" data-name="{{ field }}">
            <label for="{{ field }}">{{ field | replace('_', ' ') | title }}:</label><br>
            <input id="{{ field }}" type="text" name="{{ field }}" value="{{reference.content.get(field, '')}}"{% if field == 'author' %} style="min-width:20rem;"{% endif %}>{% if field == 'author' %}<br><span class="note">Use "and" between authors for BibTeX compatibility</span>{% endif %}<br><br>
        </div>
        {% endfor %}
        <div class="field-row">
            <label for="comment">Comment:</label><br>
            <textarea id="comment" type="text"name="comment">{{reference.comment}}</textarea><br><br>
        </div>
    </div>

    <button type="submit" class="button-green">
        Save changes
    </button>
    <button type="reset" class="button-red" onclick="location.href='/'">
        Cancel
    </button>
</form>

{% endblock %}

{% block scripts %}
{% include "scripts/reference_form_script.html" %}
{% endblock %}
