{% extends "layout.html" %}

{% block title %}
reference app
{% endblock %}

{% block body %}

<h2>reference app</h2>

<div>
  things still unfinished: {{ unfinished }}
</div>

<ul>
  {% for reference in references %}
    <li style="display: flex; flex-direction: column; margin-bottom: 1em;">
      <div>
        <strong>Type:</strong> {{ reference.reference_type }}<br>
        <strong>Key:</strong> {{ reference.reference_key }}<br>

        <strong>Data:</strong>
        <ul>
          {% for datapoint, value in reference.reference_content.items() %}
            <li><b>{{ datapoint }}</b>: {{ value }}</li>
          {% endfor %}
        </ul>
      </div>
    </li>
  {% endfor %}
</ul>

<div>
  <a href="/new_reference">Create new reference</a>
</div>

{% endblock %}