{% block title %}
My references
{% endblock %}

{% block body %}

{% for tag, count in tags %}
    <div class="tag-item">
        <form action="/rename_tag/{{ tag.name }}" method="post" style="display:inline;">
            <input id="new_tag_name" name="new_tag_name" type="text" value="{{ tag.name }}">
            <span class="tag-name"> - used by {{count}} references</span>
            <button type="submit" class="button-green button-small">Apply edit</button>
        </form>
        

        <form action="/delete_tag/{{ tag.name }}" method="post" style="display:inline;">
            <button type="submit" class="button-red button-small">Delete</button>
        </form>
    </div>
{% else %}
    <p>No tags available.</p>
{% endfor %}
<button onclick="location.href='/'" style="margin-top: 15px;">
    To main page
</button>

{% endblock %}