/* Content block */
.page-content {
    max-width: 80em;
    margin-left: 200px;
    padding: 20px;
}

/* Page heading */
.page-title {
  margin-bottom: 1rem;
}

/* Summary text */
.reference-count {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

/* Table layouts */
.table-container {
    margin: 0.5em;
}

.table-title{
    font-weight: bold;
}

.reference-item{
    display: grid;         /* Checkbox | Type | Key | Author | Title | Year | Action */
    grid-template-columns: 1.5em minmax(2em, 3fr) minmax(2em, 3fr) minmax(4em, 5fr) minmax(6em, 7fr) minmax(2em, 3fr) minmax(2em, 3fr);
    align-items: center;
    gap: 0.5em 1em;
    line-height: 1.8;
    padding: 0.5em;
    border-bottom: 2px solid grey;
}

.reference-item-deletion-confirmation{
    display: grid;         /* Type | Key | Author | Title | Year */
    grid-template-columns: minmax(2em, 3fr) minmax(2em, 3fr) minmax(4em, 5fr) minmax(6em, 7fr) minmax(2em, 3fr);
    align-items: center;
    gap: 0.5em 1em;
    line-height: 1.8;
    padding: 0.5em;
    border-bottom: 2px solid grey;
}

.reference-item-details {
    display: none;
    grid-column: 1 / -1;
    line-height: 1.5;
}

.reference-item-details .datapoint {
    margin-right: 1.5em;
}

/* Colored buttons */
.button-red {
  background-color: #d9534f;
  border: none;
  padding: 0.5em 0.8em;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;
}

.button-red:hover {
  background-color: #c9302c;
}

.button-green {
  background-color: #5cb85c;
  border: none;
  padding: 0.5em 0.8em;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9em;
  margin-top:0.5rem;
}

.button-green:hover {
  background-color: #449d44;
}

.button-red.delete-selected-btn:disabled {
  background-color: #999;
  cursor: not-allowed;
  opacity: 0.6;
}

.toggle-details {
  background-color: #0275d8;
  border: none;
  padding: 0.5em 0.8em;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;
  margin-bottom: 0.5rem;
}

.button-edit {
  background-color: #0275d8;
  border: none;
  padding: 0.5em 0.8em;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;
  margin-bottom: 0.5rem;
}

#upload-btn {
  font-size: 0.9em;
}

.toggle-details:hover {
  background-color: #025aa5;
}

/** Reference create and edit forms **/
.fields-container {
    display: none;
}

.alt-group {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

.alt-sep {
    align-self: center;
    color: #161616;
    font-style: italic;
    white-space: nowrap;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #A9A9A9;
  padding-top: 20px;
  padding-left: 10px;
  overflow-y: auto;
  z-index: 2;
}

.tag-item {
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-variant-caps: all-petite-caps;
}

.tag-item button {
    background: none;
    border: none;
    color: #888;
    cursor: pointer;
    font-size: 1em;
    line-height: 1;
    padding: 0;
}

.note {
  font-size: small;
}
